<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .green-text { color: green; }
      .red-text { color: red; }
      .green-border { border: 2px solid green; }
      .red-border { border: 2px solid red; }
    </style>
  </head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="lunchItems"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-class="{'green-border': lunchMessage === 'Enjoy!' || lunchMessage === 'Too much!', 'red-border': lunchMessage === 'Please enter data first.'}"><br/>
             Having a blank between ',' will not count towards an item.
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button><br />
         </div>
         <div class="form-group message"
              ng-class="{'green-text': lunchMessage === 'Enjoy!' || lunchMessage === 'Too much!', 'red-text': lunchMessage === 'Please enter data first.'}">
           <!-- Your message can go here. -->
            {{lunchMessage}}
         </div>
   </div>

</body>
</html>
